@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lily+Script+One&family=MuseoModerno:wght@500&family=Roboto+Slab&family=Ubuntu+Condensed&display=swap');
:root{
	--black:#000000;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
	border:none;
	text-decoration: none;
	transition: .1s linear;
	text-transform: none;

}

html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;

}

section{
    padding:3rem 9%;
}



.header{
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:1000;
	background: #FFE9E9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	box-shadow: 0 0.5rem 1rem rgb(130, 62, 13);
}

.header .logocontent{
	display: flex;
	align-items: center;
}

.header .logocontent .logo{
	display:flex;
	padding-right: 1rem;
	color:rgb(160, 60, 60);
	font-size: 3rem;
	font-family: 'MuseoModerno', cursive;
	font-weight:bolder;
	align-items: center;
	margin: 1rem;
	
}

.header .logocontent .img{
	margin-right: 20px;
	
}


.header .navbar ul li{
	list-style: none;
	display: inline-block;
	font-size:2rem;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:rgb(152, 34, 54);
	margin: 0 1rem;

}

.header .navbar ul li a{
	position:relative;
	font-size: 1.5rem;
	color:rgb(157, 25, 80);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
	transition: 0.5s all;
	
}
.header .navbar ul li a:hover{
	color:rgb(182, 94, 160);
}

/*underline effect*/
.header .navbar ul li a::after{
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 0.5rem;
	border-bottom: 0.2rem solid rgb(177, 11, 11);
	transform-origin: bottom left;
	transition: 0.3s ease-out;
	transform: scaleX(0);
}

.header .navbar ul li a:hover::after{
	transform: scaleX(1);
} 

.header .icons div{
	font-size:2rem;
	margin-left: 1.8rem;
	cursor: pointer;
	color: black;
}

.header .icons div:hover{
	color:rgb(98, 198, 32);
}

.home{
	padding-top: 14rem;
	background:white;
	background-size:cover;
	background-position: center;
	position: relative;
	
}

.home .slides-container.slide{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:1.5rem;
	
	/*display: none;*/

}


.home .slides-container .slide .content{
	margin-top: 5rem;
	flex: 1 1 40rem;
	
	
}


.home .slides-container .slide .content span{
	
	font-size: 2.9rem;
	color:#2aa371;
	font-weight: bold;
	margin-top: 50rem;
	
}



.home .slides-container .slide .content h3{
	
	font-size: 4rem;
	color:#6e480e;
	padding:.5rem 0;
	
	

}


.home .slides-container .slide .content .btn{
	margin-top: 3rem;
	display: inline-block;
	padding: 0.8rem 3rem;
	background: rgb(243, 205, 155);
	color: #000000;
	font-size: 1.9rem;
	font-weight:bold;
	cursor: pointer;
	
}

.home .slides-container .slide .content .btn:hover{
	background: #e7ae58;
}

.banner-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr));
    gap:1.5rem;
	
}

.banner-container .banner{
    position: relative;
    height: 25rem;
    overflow: hidden;
	box-shadow: none;
	border:0.1rem;
	
    
}

.banner-container .banner img{
	
    height:90%;
    width: 90%;
    object-fit:contain;
	
	
}

.banner-container .banner figure{
	width:150px;
  float: left;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  margin: 0.5em;
  padding: 0.5em;
}

.banner-container .banner .content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.banner-container .banner .content span{
    color: #fff;
    font-size:1.5rem;
}

.banner-container .banner .content h3{
    font-size:2rem;
    padding-top:.5rem;
    color: #fff;
}


.banner-container .banner .content .btn{
	display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin-top: 15rem;
	margin-left: 4rem;
	display: inline-block;
	background: rgb(230, 217, 217);
	color:#084835;
	font-size: 1.7rem;
	font-family:'Cambria';
	font-weight: normal;
	border-radius: 30px;
	cursor: pointer;
}

.banner-container .banner .content .btn:hover{
	color:#1f9f3f;
}

.banner-container .banner:hover img{
    transform:scale(1.2);
}

.heading{
	font-size:1.5rem;
	color:rgb(20, 70, 4);
	text-align:center;
	font-family: 'Ubuntu Condensed', sans-serif;
	margin-top: 10rem;
}
.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .content{
    flex: 1 1 40rem;

}

.about .content span{
	font-family: 'Roboto Slab', serif;
  font-style: bolder;
  font-weight: 400;
    color: #e8a23f;
    font-size: 2.5rem;
}

.about .content h3{
    color:#1fb5e3;
    font-size: 3.5rem;
    padding-top:.5rem;
}

.about .content p{
    color:#1a0d88;
    font-size: 1.9rem;
    line-height: 2;
    padding:1rem 0;
	text-transform:none;
}


.footer{
    background:rgba(177, 202, 231, 0.362);

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}


.footer .box-container .box h3{ 
    font-size: 2.2rem;
    color: #b63838;
    padding:1rem 0;
}


.footer .box-container .box a{
    font-size: 2rem;
    color: #0a2673;
    padding:1rem;
    display:inline-block;
}



.footer .box-container .box a:hover i{
    
	color: #0a4e39;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: #853737;
}

.footer .box-container .location h3{ 
    font-size: 2.2rem;
    color: #b63838;
	padding:1rem;
    
}

.footer .box-container .location p{ 
    font-size: 1.6rem;
	font-weight:bold;
    color: #096127;
    
}

.footer .box-container .contact h3{ 
    font-size: 2.2rem;
    color: #b63838;
	padding:1rem;
	margin-left:15rem;
   
}
.footer .box-container .contact p{ 
    font-size: 1.6rem;
	font-weight:bold;
    color: #096127;
	margin-left:15rem;
    
}

.credit{
	font-size: 1.3rem;
    color: #0c3a48;
    padding:1rem 0;
	background:rgba(177, 202, 231, 0.362);
	text-align: center;
}

